body{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.navbar
{
    background: rgba(0,0,0,0);
    padding: 5px;
    color:black !important;
    font-size:medium;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: blue;
    border-bottom: 1px solid blue;
    background-color: rgba(0,0,0,0);;
}
.navbar-nav>li{
    margin: 0px 5px;
}
header {
    width: 100%;
    height: 100vh;
    background: url(img/mountain.jpg);
    transition: background-color .5s ease;
    z-index: 1000;
}
.scrolling-active {
    background: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,0.1);
}